@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">The Grace Church Kelseyville Awana application is designed to help you with all your Awana needs.
    Click a button on the navbar at the top of the page to get started.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Students</h2>
        <p>
            Here you can see a listing of the students that are assigned to you.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Attendance</h2>
        <p>Here you can view and record attendance for each of your students.</p>
    </div>
    <div class="col-md-3">
        <h2>Sections</h2>
        <p>Here you can track the progress of your students in each of the Awana books.</p>
    </div>
    <div class="col-md-3">
        <h2>Manage Account</h2>
        <p>You can manage your account settings by clicking on your username at the top of the page.</p>
    </div>
</div>

@if (User.IsInRole(GraceChurchKelseyvilleAwana.Models.AwanaRoles.Admin.ToString()))
{
    <div class="row">
        <div class="col-md-3">
            <h2>Books</h2>
            <p>Here you can configure the books that are being used by your program.</p>
        </div>
        <div class="col-md-3">
            <h2>Groups</h2>
            <p>Here you can create groupings by assigning students to their leaders.</p>
        </div>
        <div class="col-md-3">
            <h2>Manage Roles</h2>
            <p>This is where you can approve account registrations as well as assign them to be an admin, director, leader, or parent user.</p>
        </div>
        <div class="col-md-3">
            <h2>Emailing</h2>
            <p>This is where you can send out reminder emails to students and leaders.</p>
        </div>
    </div>
}